{% extends "layout.html" %}
{%block container %}
<form method="post">
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn" value="{{ book.isbn }}">
    </div>
    <div class="form-group">
        <label for="all">All</label>
        <input type="text" class="form-control" id="all" name="all" value="{{ book.all }}">
    </div>
    <div class="form-group">
        <label for="left">Left</label>
        <input type="text" class="form-control" id="left" name="left" value="{{ book.left }}">
    </div>
    <div class="form-group">
        <label for="book_name">Book Name</label>
        <input type="text" class="form-control" id="book_name" name="book_name" value="{{ book.book_name }}">
    </div>
    <div class="form-group">
        <label for="book_author">Book Author</label>
        <input type="text" class="form-control" id="book_author" name="book_author" value="{{ book.book_author }}">
    </div>
    <div class="form-group">
        <label for="book_price">Book Price</label>
        <input type="text" class="form-control" id="book_price" name="book_price" value="{{ book.book_price }}">
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" class="form-control" id="commnet" name="comment" value="{{ book.comment }}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <a href="{{ url_for('delete', id=book.id)}}">Delete</a>
</form>


{% endblock %}
